<!DOCTYPE html>
<html>
  <head>
    <title>Add Company and Recruiter</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Add Company and Recruiter</h1>
    <form method="POST" action="/add_company_and_recruiter">
      <!-- Company Details -->
      <fieldset>
        <legend>Company Details</legend>
        <label for="company_name">Company Name:</label>
        <input type="text" name="company_name" required /><br />

        <label for="website_url">Website URL:</label>
        <input type="url" name="website_url" required /><br />
      </fieldset>

      <!-- Recruiter Details -->
      <fieldset>
        <legend>Recruiter Details</legend>
        <label for="is_direct_recruiter"
          >Direct Recruiter or Agency Recruiter?</label
        >
        <input type="radio" name="is_direct_recruiter" value="True" required />
        Direct Recruiter
        <input type="radio" name="is_direct_recruiter" value="False" required />
        Agency Recruiter<br />

        <label for="first_name">First Name:</label>
        <input type="text" name="first_name" required /><br />

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required /><br />

        <label for="description">Employer Description</label>
        <input type="text" name="description" required /><br />

        <label for="city">City:</label>
        <input type="text" name="city" required /><br />

        <label for="state">State:</label>
        <select name="state" required>
          <option value="VIC">VIC</option>
          <option value="NSW">NSW</option>
          <option value="WA">WA</option>
          <option value="NT">NT</option>
          <option value="ACT">ACT</option>
          <option value="QLD">QLD</option>
          <option value="TAS">TAS</option>
          <option value="SA">SA</option></select
        ><br />

        <label for="country">Country:</label>
        <select name="country" required>
          <option value="New Zealand">New Zealand</option>
          <option value="Australia">Australia</option></select
        ><br />
      </fieldset>

      <input type="submit" value="Add Company and Recruiter" />
    </form>
  </body>
</html>
