<!DOCTYPE html>
<html>
  <head>
    <title>Add Company</title>
  </head>
  <body>
    <h1>Add Company</h1>
    <form method="POST" action="/add_company">
      <label for="name">Company Name:</label>
      <input type="text" name="name" required /><br />

      <label for="city">City:</label>
      <input type="text" name="city" required /><br />

      <label for="state">State:</label>
      <select name="state" required>
        <option value="VIC">VIC</option>
        <option value="NSW">NSW</option>
        <option value="WA">WA</option>
        <option value="NT">NT</option>
        <option value="ACT">ACT</option>
        <option value="QLD">QLD</option>
        <option value="TAS">TAS</option>
        <option value="SA">SA</option></select
      ><br />

      <label for="country">Country:</label>
      <select name="country" required>
        <option value="New Zealand">New Zealand</option>
        <option value="Australia">Australia</option></select
      ><br />

      <input type="submit" value="Add Company" />
    </form>
  </body>
</html>
