<!DOCTYPE html>
<html>
  <head>
    <title>Add Company</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/add_company.css') }}"
    />
  </head>
  <body>
    <h1>Add Company</h1>
    <form method="POST" action="/add_company">
      <label for="name">Company Name:</label>
      <input type="text" name="name" required /><br />
      <label for="name">Website:</label>
      <input type="url" name="website_url" required /><br />
      <br />

      <input type="submit" value="Add Company" />
    </form>
  </body>
</html>
