<!DOCTYPE html>
<html>
  <head>
    <title>Applicant Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/applied_jobs.css') }}"
    />
  </head>
  <body>
    <h1>Applicant Dashboard</h1>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Experience Level</th>
            <th>Applied On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for job in jobs %}
          <tr>
            <td>{{ job.title }}</td>
            <td>{{ job.company_name }}</td>
            <td>{{ job.city }}, {{ job.state }}, {{ job.country }}</td>
            <td>{{ job.experience_level }}</td>
            <td>{{ job.created_at }}</td>
            <td class="actions">
              <a href="/update_job/{{ job.job_id }}"><button>View</button></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </body>
</html>
