<!DOCTYPE html>
<html>
  <head>
    <title>Applicant Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bookmarked_jobs.css') }}"
    />
  </head>
  <body>
    <h1>Bookmarked Jobs</h1>
    <div class="container">
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Company</th>
            <th>Location</th>
            <th>Experience Level</th>
            <th>Applied On</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for bookmarked_job in bookmarked_jobs %}
          <tr>
            <td>{{ bookmarked_job.title }}</td>
            <td>{{ bookmarked_job.company_name }}</td>
            <td>
              {{ bookmarked_job.city }}, {{ bookmarked_job.state }}, {{
              bookmarked_job.country }}
            </td>
            <td>{{ bookmarked_job.experience_level }}</td>
            <td>{{ bookmarked_job.created_at }}</td>
            <td class="actions">
              <a href="/update_job/{{ bookmarked_job.job_id }}"
                ><button>View</button></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
