<!DOCTYPE html>
<html>
  <head>
    <title>Job Board</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon" />
      <h1 style="color: chartreuse">OceaniaDevs</h1>
      <h2 style="margin-left: 130px">
        The Largest Tech Careers Platform Down Under
      </h2>
      {% if user_logged_in %}
      <div class="actions">
        {% if session.get('user').get('type') == 'seeker' %}
        <a href="/update_seeker">Update Seeker</a>
        <a href="/available_jobs">Job Feed</a>
        {% elif session.get('user').get('type') == 'recruiter' %}
        <a href="/add_company">Add Company</a>
        <a href="/add_recruiter">Sign Up as a Recruiter</a>
        <a href="/add_job">Add a Job</a>
        <a href="/jobs_by_recruiter">Update Job Post</a>
        <a href="/available_jobs">Job Feed</a>
        {% endif %}
      </div>
      <div
        class="actions"
        style="display: flex; flex-direction: column; align-items: center"
      >
        <h3>Welcome, {{ session.get('user').get('userinfo').get('name') }}</h3>
        <a href="/logout" style="width: fit-content">Logout</a>
      </div>
      {% else %}
      <div class="actions">
        <div class="seeker-section">
          <h3>For Job Seeker</h3>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        </div>
      </div>
      <div class="actions">
        <div class="recruiter-section">
          <h3>For Recruiter</h3>
          <a href="/login/recruiter">Login</a>
          <a href="/register/recruiter">Register</a>
        </div>
      </div>
      <div class="actions">
        <a href="/available_jobs">Job Feed</a>
      </div>
      {% endif %}
    </div>
  </body>
</html>
