<!DOCTYPE html>
<html>
  <head>
    <title>Job Board</title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Job Board</h1>
      <div class="actions">
        <a href="/add_seeker">Add Seeker</a>
        <a href="/add_company">Add Company</a>
        <a href="/add_recruiter">Sign Up as a Recruiter</a>
        <a href="/add_job">Add a Job</a>
        <a href="/available_jobs">Job Feed</a>
        <a href="/logout">Logout</a>
      </div>
    </div>
  </body>
</html>
