@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir-Book.woff2') format('woff2'),
}

@font-face {
  font-family: 'Roobert-Regular';
  src: url('fonts/Roobert-Regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'HeyWow';
  src: url('fonts/HeyWowRegular.woff') format('woff2'),
}


@font-face {
  font-family: 'Aeonik';
  src: url('./fonts/') format('woff2'),
}

body {
  margin: 0;
  /* font-family: "HeyWow", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: "Roobert-Regular"; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(255, 253, 253); */
}
